.footer {
  background-color: #EBEBEB;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-column {
  padding: 1% 10%;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.column__header {
  position: relative;
  font-size: 18px;
}

.column__header::after {
  content: "";
  display: block;
  height: 1px;
  width: 200%;
  position: absolute;
  background-color: black;
  left: -50%;
  top: 35px;
}

.column__text {
  font-size: 16px;
  margin-bottom: 1%;
  text-align: center;
}

.column__link {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.footer__icons {
  display: inline;
}

.footer__icon {
  font-size: 24px;
  text-decoration: none;
  color: black;
  margin: 0 5px;
}
