<footer class="footer">
    <div class="container-column">
      <div class="column__header">About</div>
      <hr class="column__divider">
      <div class="column__text">If one puts an infinite number of monkeys in front of typewriters, and lets them clap away, there is a certainty that one of them will come out with an exact version of the Angular's source code.</div>
      Icons
    </div>
    <div class="container-column">
      <div class="column__header">Developer</div>
      <hr class="column__divider">
      <div class="column__text">A beginner in a big world of IT.</div>
      <a href="https://github.com/SevenDart" class="column__link">Github:@SevenDart</a>
      <a href="mailto:sir.sevendart@gmail.com" class="column__link">Email: sir.sevendart@gmail.com</a>
    </div>
</footer>
