<mat-form-field appearance="outline" class="tag-select">
  <mat-label>Tags</mat-label>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let tag of selectedTags" selectable removable (removed)="remove(tag)" class="chip">
      {{tag}}
      <mat-icon matChipRemove class="chip__close-icon">cancel</mat-icon>
    </mat-chip>
    <input placeholder="Add tag..."
           (focusin)="focus.emit(true)"
           (focusout)="focus.emit(false)"
           [formControl]="tagSearch"
           [disabled]="selectedTags.length >= 7"
           [matAutocomplete]="tagAutocomplete"
           [matChipInputFor]="chipList"
           (matChipInputTokenEnd)="addTag($event)"
           #tagInput>
  </mat-chip-list>
  <mat-autocomplete #tagAutocomplete="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag" [disabled]="selectedTags.length >= 7">
      {{tag}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
