<input
  class="form-control field"
    placeholder="Search..."
    (focusin)="tagPanelExpanded = true"
    (focusout)="tagPanelExpanded = false"
    [formControl]="searchControl"
    [matAutocomplete]="searchAutocomplete">
<div class="tagPanel" [class.expanded]="isExpandable && tagPanelExpanded || selectedTags.length > 0" [class.tag_active]="selectedTags.length > 0">
  <tag-select [selectedTags]="selectedTags" (focus)="tagPanelExpanded = $event"></tag-select>
</div>
<mat-autocomplete #searchAutocomplete="matAutocomplete" (optionSelected)="RedirectToPage($event)" [displayWith]="Display" class="autocomplete">
  <mat-option *ngFor="let result of results | async" [value]="result">
    <div class="result" [class.autocomplete-option-small]="!isExpandable">
      {{result.header}}
      <span class="badge rate"
            [class.positive]="result.rate > 0"
            [class.negative]="result.rate < 0">
            {{result.rate}}
          </span>
    </div>
  </mat-option>
</mat-autocomplete>
