<footer class="footer">
    <div class="container-column">
      <h1 class="column__header">About</h1>
      <p class="column__text">Could You Explain - a phrase with which many question begin. This site is a perfect place for such questions.</p>
      <div class="footer__icons">
        <a class="fab fa-angular footer__icon" href="https://angular.io/"></a>
        <a class="fab fa-html5 footer__icon" href="https://html.spec.whatwg.org/"></a>
        <a class="fab fa-css3-alt footer__icon" href="https://www.w3.org/Style/CSS/Overview.en.html"></a>
      </div>
    </div>
    <div class="container-column">
      <h1 class="column__header">Developer</h1>
      <p class="column__text">A beginner in a big world of IT.</p>
      <a href="https://github.com/SevenDart" class="column__link">Github:@SevenDart</a>
      <a href="mailto:sir.sevendart@gmail.com" class="column__link">Email: sir.sevendart@gmail.com</a>
    </div>
</footer>
