<form [formGroup]="form" (ngSubmit)="Register()" class="register-form">
  <mat-form-field appearance="outline" class="field">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="!form.controls['email'].valid && form.controls['email'].touched">Incorrect email.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="field">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="!form.controls['password'].valid && form.controls['password'].touched">Password must be at least 8 symbols long.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="field">
    <mat-label>Repeat password</mat-label>
    <input matInput type="password" formControlName="confirmPassword">
    <mat-error *ngIf="!form.controls['confirmPassword'].valid && form.controls['confirmPassword'].touched">Passwords must match.</mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Register</button>
</form>
