<div class="page-container">
	<h1 class="page__header">Create Your Question</h1>
	<form [formGroup]="questionForm" (ngSubmit)="createQuestion()">
				<mat-form-field appearance="outline" class="field">
              <mat-label class="text hint-label">Print your question</mat-label>
							<input matInput
                     formControlName="header"
                     type="text"
                     placeholder="Enter your question"
                     class="text question__header">
								<mat-error *ngIf="!questionForm.controls['header'].valid && questionForm.controls['header'].touched">
                  Question must contain at least 15 symbols.
                </mat-error>
					</mat-form-field>
				<mat-form-field appearance="outline" class="field">
          <mat-label>Describe your problem</mat-label>
	  			<textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="10"
            formControlName="description"
            class="text description">
          </textarea>
	  			<mat-error *ngIf="!questionForm.controls['description'].valid && questionForm.controls['description'].touched">
            Description must contain at least 60 symbols.
          </mat-error>
			</mat-form-field>
    <tag-select [selectedTags]="selectedTags"></tag-select>
    <button mat-raised-button
            type="submit"
            [color]="'primary'"
            class="create-button"
            [disabled]="!questionForm.valid">CREATE</button>
	</form>
</div>
