<div class="page-container">
	<h1 class="page__header">Create Your Question</h1>
	<form [formGroup]="questionForm" (ngSubmit)="createQuestion()">
				<mat-form-field appearance="outline" class="field">
          <mat-label class="text hint-label">Title</mat-label>
          <input matInput
                 autocomplete="off"
                 formControlName="header"
                 type="text"
                 maxlength="50"
                 class="text question__header">
          <mat-error *ngIf="questionForm.controls['header'].value.length < 15">
            Title must contain at least 15 symbols.
          </mat-error>
					</mat-form-field>
				<mat-form-field appearance="outline" class="field">
          <mat-label>Describe your problem</mat-label>
	  			<textarea
            matInput
            maxlength="500"
            cdkTextareaAutosize
            cdkAutosizeMinRows="10"
            formControlName="description"
            class="text description">
          </textarea>
	  			<mat-error *ngIf="questionForm.controls['description'].value.length < 60">
            Description must contain at least 60 symbols.
          </mat-error>
			</mat-form-field>
    <p class="tag-overview">
      You can add some tags to your question to improve search or sorting for other users.
    </p>
    <tag-select [selectedTags]="selectedTags"></tag-select>
    <button mat-raised-button
            type="submit"
            [color]="'primary'"
            class="create-button"
            [disabled]="!questionForm.valid">CREATE</button>
	</form>
</div>
