.auth__button {
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin-right: 30px;
}

.auth__button:hover {
  color: lightgray;
}

.rate {
  background-color: gray;
  font-size: 14px;
  margin-right: 5px;
}

.negative {
  background-color: red;
}

.positive {
  background-color: green;
}

.logout {
  width: 100%;
}

.text {
  color: black;
}

.username {
  text-align: right;
  color: white;
  font-size: 18px;
  margin-right: 20px;
}

.user-icon {
  font-size: 24px;
  margin-right: 5px;
}
