<input
  class="form-control field"
    placeholder="Search..."
    (focusin)="tagPanelExpanded = true"
    (focusout)="tagPanelExpanded = false"
    [formControl]="searchControl"
    [matAutocomplete]="searchAutocomplete">
<div class="tagPanel" [class.expanded]="isExpandable && tagPanelExpanded || selectedTags.length > 0" [class.tag_active]="selectedTags.length > 0">
  <mat-form-field appearance="outline" class="tag-select">
    <mat-label>Tags</mat-label>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of selectedTags" selectable removable (removed)="remove(tag)" class="chip">
        {{tag}}
        <mat-icon matChipRemove class="chip__close-icon">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Add tag..."
             (focusin)="tagPanelExpanded = true"
             (focusout)="tagPanelExpanded = false"
             [formControl]="tagSearch"
             [disabled]="selectedTags.length >= 7"
             [matAutocomplete]="tagAutocomplete"
             [matChipInputFor]="chipList"
             (matChipInputTokenEnd)="addTag($event)"
             #tagInput>
    </mat-chip-list>
    <mat-autocomplete #tagAutocomplete="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag" [disabled]="selectedTags.length >= 7">
        {{tag}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<mat-autocomplete #searchAutocomplete="matAutocomplete" (optionSelected)="RedirectToPage($event)" [displayWith]="Display">
  <mat-option *ngFor="let result of results | async" [value]="result">
    <div class="result">
      {{result.header}}
      <span class="badge rate"
            [class.positive]="result.rate > 0"
            [class.negative]="result.rate < 0">
            {{result.rate}}
          </span>
    </div>
  </mat-option>
</mat-autocomplete>
