.rate {
  background-color: gray;
  font-size: 14px;
  margin-right: 5px;
  float: right;
  margin-top: 12px;
}

.positive {
  background-color: green;
}

.negative {
  background-color: red;
}

.result {

}
