.bg-custom {
  background-color: #6A1B9A
}

.navbar {
  padding-left: 30px;
  z-index: 900;
}

.search-field {
  width: 25%;
}

.auth-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
}
