<h1 mat-dialog-title>Edit Tags</h1>
<div mat-dialog-content>
  <div class="new-tag">
    <mat-form-field class="tag-search" appearance="outline">
      <mat-label class="text">Filter</mat-label>
      <input matInput
             class="text"
             [formControl]="tagSearch">
    </mat-form-field>
  </div>
  <div class="tag-list">
    <div *ngFor="let tag of filteredTags | async" class="tag">
      <span class="text" *ngIf="!tagsForms[tag].isEditing; else editingForm">{{tag}}</span>
      <ng-template #editingForm>
        <mat-form-field appearance="outline" class="edit-form">
          <mat-label>Edit tag</mat-label>
          <input matInput
                 [formControl]="tagsForms[tag].editControl">
        </mat-form-field>
        <div>
          <button mat-raised-button class="edit-button" (click)="updateTag(tag, tagsForms[tag].editControl.value)" color="primary">UPDATE</button>
        </div>
      </ng-template>
      <div class="icons">
        <i class="fas fa-times tag-icon delete-icon" (click)="deleteTag(tag)"></i>
        <i class="fas fa-pen tag-icon edit-icon" [class.active]="tagsForms[tag].isEditing" (click)="tagsForms[tag].isEditing = !tagsForms[tag].isEditing"></i>
      </div>
    </div>
    <div class="tag">
      <mat-form-field appearance="outline" class="create-form">
        <mat-label>New tag</mat-label>
        <input matInput
               class="text"
               [formControl]="newTagControl">
      </mat-form-field>
      <div>
        <button mat-raised-button class="edit-button" (click)="createTag(newTagControl.value)" color="primary">CREATE</button>
      </div>
    </div>
  </div>
</div>
