.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.intro__header {
  font-size: 72px;
  font-weight: bold;
  line-height: normal;
  color: black;
}

.intro__subheader{
  margin-top: 10px;
  font-size: 36px;
  font-weight: 300;
  line-height: normal;
  color: black;
}

.intro__search-field {
  width: 85%;
}

.button {
  background-color: #6E11A8;
  color: white;
  font-size: 18px;
  padding: 0 10px;
}

.popular-questions__header {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: normal;
  color: black;
}

.popular-questions-table {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.question__header {
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: normal;
}

.mat-column-last-update {
  text-align: right;
}

.mat-column-rate {
  vertical-align: bottom;
}

.rate {
  color: white;
  padding: 2px 2px;
  border-radius: 25%;
  text-align: center;
  background-color: gray;
  margin-right: 20px;
}

.positive {
  background-color: green;
}

.negative {
  background-color: red;
}
