.page-container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 20px;
  background-color: white;
  box-shadow: -1px 1px 20px grey;
  margin-top: 30px;
}

.question__header {
  font-size: 40px;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 10px;
}

.username {
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
  color: gray;
  display: inline;
}

.text {
  font-size: 18px;
  text-align: justify;
  line-height: normal;
  width: 95%;
  margin-top: 10px;
}

.rate {
  display: inline-flex;
  background-color: gray;
  font-size: 14px;
  margin-right: 5px;
  cursor: pointer;
  transition: width 0.5s;
}

.date {
  margin-left: 15px;
  font-size: 16px;
  color: gray;
  display: inline;
}

.comment-panel {
  margin-top: 10px;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0.1);
}

.comment-panel-header {
  height: 35px;
}

.comment {
  margin-bottom: 10px;
}

.comment .rate {
  font-size: 12px;
  margin-right: 10px;
}

.comment .text {
  font-size: 16px;
  display: inline;
  margin-right: 10px;
}

.comment .date {
  font-size: 12px;
}

.question__tag {
  font-size: 12px;
  min-height: 28px;
  cursor: pointer;
}

.answer {
  position: relative;
  margin-bottom: 20px;
}

.answers__header {
  margin-top: 30px;
  font-size: 30px;
  font-weight: normal;
  line-height: normal;
}

.answer:after {
  margin-top: 8px;
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.25;
  background-color: gray;
  display: block;
}

.negative {
  background-color: red;
}

.positive {
  background-color: green;
}

.loader {
  margin: 0 auto;
}

.edit-icon {
  color: gray;
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
  cursor: pointer;
}

.update-header {
  display: inline;
}

.new-answer {
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
}

.new-answer-button {
  display: block;
  margin: 0 auto;
  font-size: 16px;
}

.new-answer-field {
  width: 100%;
}

.prefix {
  position: relative;
  top: -50px;
}

.new-comment-field {
  display: inline;
  width: 50%;
}

.new-comment-button {
  display: inline;
  position: relative;
  top: -4px;
  margin-left: 5px;
  padding: 4px;
}

.comment-form {
  width: 91%;
  display: inline-block;
  font-size: 14px;
}

.comment-text {
  font-size: 16px;
}

.vote-buttons {
  width: 0%;
  overflow: hidden;
  transition: width 0.5s, margin-left 0.5s;
}

.vote-buttons.expanded {
  width: 35px;
  margin-left: 2px;
}

.vote-button {
  cursor: pointer;
  margin: 0 2px;
  line-height: normal;
}

.vote-button:hover {
  color: lightgray;
}

.edit-icon.active {
  color: orange;
}

.delete-icon:hover {
  color: red;
}
