<div class="page-container">
  <ng-container *ngIf="question; else loading">
    <h1 class="question__header">{{question.header}}</h1>

    <div class="badge rate"
         (click)="questionVotingExpanded = !questionVotingExpanded"
         [class.positive]="question.rate > 0"
         [class.negative]="question.rate < 0">
      {{question.rate}}
      <div class="vote-buttons" [class.expanded]="questionVotingExpanded">
        <i class="fas fa-chevron-circle-up vote-button" (click)="upvoteForElement(question.id, null, null)"></i>
        <i class="fas fa-chevron-circle-down vote-button" (click)="downvoteForElement(question.id, null, null)"></i>
      </div>
    </div>

    <p class="username">{{question.user.username}}</p>
    <p class="date">created at {{question.createTime | date}}</p>
    <p class="date" *ngIf="question.updateTime">updated at {{question.updateTime | date}}</p>
    <a routerLink="/question/{{question.id}}/edit" *ngIf="isOwner" class="fas fa-pen edit-icon"></a>
    <p class="text">{{question.text}}</p>
    <mat-chip-list>
      <mat-chip class="question__tag" *ngFor="let tag of question.tags" selected [color]="'primary'" [routerLink]="['/home']" [queryParams]="{tags: tag}">
        {{tag}}
      </mat-chip>
    </mat-chip-list>
    <ng-container *ngIf="(questionComments | async) as comments; else loading">
      <mat-expansion-panel class="comment-panel">
        <mat-expansion-panel-header class="comment-panel-header">
          <mat-panel-title>
            {{comments.length}} Comments
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="comment" *ngFor="let comment of comments">
          <div class="badge rate"
               (click)="commentForms[comment.id].votingExpanded = !commentForms[comment.id].votingExpanded"
               [class.positive]="commentForms[comment.id].rate > 0"
               [class.negative]="commentForms[comment.id].rate < 0">
            {{commentForms[comment.id].rate}}
            <div class="vote-buttons" [class.expanded]="commentForms[comment.id].votingExpanded">
              <i class="fas fa-chevron-circle-up vote-button" (click)="upvoteForElement(null, null, comment.id)"></i>
              <i class="fas fa-chevron-circle-down vote-button" (click)="downvoteForElement(null, null, comment.id)"></i>
            </div>
          </div>
          <p class="text">{{comment.text}}</p>
          <p class="username">{{comment.user.username}}</p>
          <p class="date">created at {{comment.createTime | date}}</p>
          <p class="date" *ngIf="comment.updateTime">updated at {{comment.updateTime | date}}</p>

          <i *ngIf="commentForms[comment.id].isOwner" class="fas fa-pen edit-icon" (click)="commentForms[comment.id].isEditing = !commentForms[comment.id].isEditing"></i>
          <a *ngIf="commentForms[comment.id].isEditing" class="fas fa-times edit-icon" (click)="deleteComment(question.id, null, comment.id)"></a>
          <ng-container *ngIf="commentForms[comment.id].isEditing">
            <mat-form-field appearance="outline" class="comment-form">
              <mat-label>Edit comment</mat-label>
              <p matPrefix class="text">[UPD.]&nbsp;</p>
              <input matInput [formControl]="commentForms[comment.id].editFormControl" class="comment-text">
              <mat-error *ngIf="!commentForms[comment.id].editFormControl.valid && commentForms[comment.id].editFormControl.dirty">Comment's length must be between 10 and 200 symbols.</mat-error>
            </mat-form-field>
            <button mat-raised-button
                    (click)="updateComment(question.id, null, comment.id, comment.text)"
                    [disabled]="!commentForms[comment.id].editFormControl.valid"
                    class="new-comment-button"
                    [color]="'primary'">ADD</button>
          </ng-container>

          <mat-divider></mat-divider>
        </div>
        <ng-container *ngIf="isAuthed">
          <mat-form-field appearance="outline" class="comment-form">
            <mat-label>Add a comment</mat-label>
            <input matInput [formControl]="commentControl" class="comment-text">
            <mat-error *ngIf="!commentControl.valid && commentControl.dirty">Comment's length must be between 10 and 200 symbols.</mat-error>
          </mat-form-field>
          <button mat-raised-button
                  (click)="addComment(question.id, null, commentControl)"
                  [disabled]="!commentControl.valid"
                  class="new-comment-button"
                  [color]="'primary'">ADD</button>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="(answersObs | async) as answers; else loading">

    <h1 class="answers__header">{{answers.length}} Answers</h1>
    <div class="answer" *ngFor="let answer of answers">
      <p class="text">{{answer.text}}</p>
      <div class="badge rate"
           (click)="answersForms[answer.id].votingExpanded = !answersForms[answer.id].votingExpanded"
           [class.positive]="answersForms[answer.id].rate > 0"
           [class.negative]="answersForms[answer.id].rate < 0">
        {{answersForms[answer.id].rate}}
        <div class="vote-buttons" [class.expanded]="answersForms[answer.id].votingExpanded">
          <i class="fas fa-chevron-circle-up vote-button" (click)="upvoteForElement(null, answer.id, null)"></i>
          <i class="fas fa-chevron-circle-down vote-button" (click)="downvoteForElement(null, answer.id, null)"></i>
        </div>
      </div>
      <p class="username">{{answer.user.username}}</p>
      <p class="date">created at {{answer.createTime | date}}</p>
      <p class="date" *ngIf="answer.updateTime">updated at {{answer.updateTime | date}}</p>
      <i *ngIf="answersForms[answer.id].isOwner" class="fas fa-pen edit-icon" (click)="answersForms[answer.id].isEditing = !answersForms[answer.id].isEditing"></i>
      <a *ngIf="answersForms[answer.id].isEditing" class="fas fa-times edit-icon" (click)="deleteAnswer(answer.id)"></a>
      <ng-container *ngIf="answersForms[answer.id].isEditing">
        <mat-form-field appearance="outline" class="text new-answer-field">
          <mat-label>Update your answer</mat-label>
          <p matPrefix class="text prefix">[UPD.]&nbsp;</p>
          <textarea matInput
                    [formControl] = "answersForms[answer.id].editFormControl"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="3"></textarea>
          <mat-error *ngIf="!answersForms[answer.id].editFormControl.valid && answersForms[answer.id].editFormControl.dirty">Answer's length must be between 30 and 500 symbols.</mat-error>
        </mat-form-field>
        <button mat-raised-button (click)="updateAnswer(answer.id, answer.text)" [disabled]="!answersForms[answer.id].editFormControl.valid || !answersForms[answer.id].editFormControl.dirty" class="new-answer-button" [color]="'primary'">UPDATE</button>
      </ng-container>
      <ng-container *ngIf="(answerComments[answer.id] | async) as comments; else loading">
        <mat-expansion-panel class="comment-panel">
          <mat-expansion-panel-header class="comment-panel-header">
            <mat-panel-title>
              {{comments.length}} Comments
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="comment" *ngFor="let comment of comments">
            <div class="badge rate"
                 (click)="commentForms[comment.id].votingExpanded = !commentForms[comment.id].votingExpanded"
                 [class.positive]="commentForms[comment.id].rate > 0"
                 [class.negative]="commentForms[comment.id].rate < 0">
              {{commentForms[comment.id].rate}}
              <div class="vote-buttons" [class.expanded]="commentForms[comment.id].votingExpanded">
                <i class="fas fa-chevron-circle-up vote-button" (click)="upvoteForElement(null, null, comment.id)"></i>
                <i class="fas fa-chevron-circle-down vote-button" (click)="downvoteForElement(null, null, comment.id)"></i>
              </div>
            </div>
            <p class="text">{{comment.text}}</p>
            <p class="username">{{comment.user.username}}</p>
            <p class="date">created at {{comment.createTime | date}}</p>
            <p class="date" *ngIf="comment.updateTime">updated at {{comment.updateTime | date}}</p>

            <i *ngIf="commentForms[comment.id].isOwner" class="fas fa-pen edit-icon" (click)="commentForms[comment.id].isEditing = !commentForms[comment.id].isEditing"></i>
            <a *ngIf="commentForms[comment.id].isEditing" class="fas fa-times edit-icon" (click)="deleteComment(null, answer.id, comment.id)"></a>
            <ng-container *ngIf="commentForms[comment.id].isEditing">
              <mat-form-field appearance="outline" class="comment-form">
                <mat-label>Edit comment</mat-label>
                <p matPrefix class="text">[UPD.]&nbsp;</p>
                <input matInput [formControl]="commentForms[comment.id].editFormControl" class="comment-text">
                <mat-error *ngIf="!commentForms[comment.id].editFormControl.valid && commentForms[comment.id].editFormControl.dirty">Comment's length must be between 10 and 200 symbols.</mat-error>
              </mat-form-field>
              <button mat-raised-button
                      (click)="updateComment(null, answer.id, comment.id, comment.text)"
                      [disabled]="!commentForms[comment.id].editFormControl.valid"
                      class="new-comment-button"
                      [color]="'primary'">ADD</button>
            </ng-container>

            <mat-divider></mat-divider>
          </div>
          <ng-container *ngIf="isAuthed">
            <mat-form-field appearance="outline" class="comment-form">
              <mat-label>Add a comment</mat-label>
              <input matInput [formControl]="answersForms[answer.id].addCommentFormControl" class="comment-text">
              <mat-error *ngIf="!answersForms[answer.id].addCommentFormControl.valid && answersForms[answer.id].addCommentFormControl.dirty">Comment's length must be between 10 and 200 symbols.</mat-error>
            </mat-form-field>
            <button mat-raised-button
                    (click)="addComment(null, answer.id, answersForms[answer.id].addCommentFormControl)"
                    [disabled]="!answersForms[answer.id].addCommentFormControl.valid"
                    class="new-comment-button"
                    [color]="'primary'">ADD</button>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>

    </div>
  </ng-container>
  <ng-container *ngIf="isAuthed">
    <h3 class="new-answer">Add your answer!</h3>
    <mat-form-field appearance="outline" class="text new-answer-field">
      <mat-label>Enter your answer</mat-label>
      <textarea matInput
                [formControl] = "answerControl"
                cdkTextareaAutosize
                cdkAutosizeMinRows="3">
      </textarea>
      <mat-error *ngIf="!answerControl.valid && answerControl.dirty">Answer's length must be between 15 and 500 symbols.</mat-error>
    </mat-form-field>
    <button mat-raised-button (click)="addAnswer()" [disabled]="!answerControl.valid" class="new-answer-button" [color]="'primary'">ADD</button>
  </ng-container>
</div>
<ng-template #loading><mat-spinner class="loader"></mat-spinner></ng-template>
