<div class="page-container">
  <ng-container *ngIf="(question | async) as question; else loading">
    <h1 class="page__header">Update Question</h1>
    <form [formGroup]="questionForm" (ngSubmit)="updateQuestion()">
      <h1 class="question__header">{{question.header}}</h1>
      <p class="text">{{question.text}}</p>
      <mat-form-field appearance="outline" class="field">
        <mat-label>Update description</mat-label>
        <p matPrefix class="text prefix">[UPD.]&nbsp;</p>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="10"
          formControlName="description"
          class="text description">
        </textarea>
        <mat-error *ngIf="!questionForm.get('description').valid && questionForm.get('description').touched">
          Description can't be longer than 500 symbols.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="tag-select">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let tag of selectedTags" selectable removable (removed)="remove(tag)" class="chip">
            {{tag}}
            <mat-icon matChipRemove class="chip__close-icon">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Add tag..."
                 formControlName="tagSearch"
                 [matAutocomplete]="auto"
                 [disabled]="selectedTags.length >= 7"
                 [matChipInputFor]="chipList"
                 (matChipInputTokenEnd)="addTag($event)"
                 #tagInput>
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag" [disabled]="selectedTags.length >= 7">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button mat-raised-button
              type="submit"
              [color]="'primary'"
              class="create-button"
              [disabled]="!questionForm.valid">UPDATE</button>
    </form>
  </ng-container>
</div>
<ng-template #loading><mat-spinner class="loading"></mat-spinner></ng-template>
